@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Noto Serif Khmer","Roboto Condensed";
}
a{
    color: black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.header-title{
    padding: 30px 20px;
    width:30% ;
    height: 300px;
}
.header-title h1{
    font-size: 100px;
    text-align: center;
}
.header-title p{
    font-size: 30px;
    text-align: center;
}
.header-menu-bar{
    width: 65%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu-bar a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 40px;
}
.home-btn{
    width: 150px;
    height: 60px;
    background-color: brown;
    transition: 0.5s;
}
.home-btn:hover{
    padding-top: 5px;
    background-color: orangered;
    cursor: pointer;
    width:200px ;
    height:80px;
}
.container{
    width: 2500px;
    height: auto;
    margin: auto;
}
.bar{
    display: flex;
    justify-content: space-between;
}
.menu-type-movie{
    border: 2px solid black;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height:100px ;
    background-color: blueviolet;
}
.menu-type-movie a{
    padding: 0px 20px;
    font-size: 30px;
}
.search-btn{
    text-align: center;
    margin-top: 2%;
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn a{
    font-size: 30px;
}
.all-type{
    margin-top: 1%;
    width: 100%;
    height: 100px;
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-type h1{
    padding: 25px 15px;
}
.card-movie{
    margin-top: 1%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 15%;
    height: 600px;
    background-color: chartreuse;
}
.card-img{
    width: 100%;
    height: 450px;
    background-color: rgb(222, 151, 57);
    transition: 0.5;
}
.card-img:hover{
    cursor: pointer;
    width: 102%;
    height: 450px;
}
.card-title{
    width: 100%;
    height: 150px;
    background-color: burlywood;

}
.card-title h1{
    padding: 10px 20px;
    font-size: 40px;
}

.icon{
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.icon p{
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
}
.icon .play{
    border-radius: 20px;
    width: 120px;
    height: 50px;
    background-color: aqua;
}
.play:hover{
    background-color: orangered;
    cursor: pointer;
}
.play a{
    text-decoration: none;
}



